---
layout: default
permalink: /writing/
title: Timeline
---

<section class="page-intro">
  <h1 class="page-title">Timeline</h1>
  <p class="page-subtitle">Talks, papers, standards, and announcements &mdash; newest first.</p>
</section>

<ol class="timeline">
{% for post in site.posts %}
  <li class="tl-item">
    <a class="tl-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>{% if post.category %} <span class="tl-cat">{{ post.category }}</span>{% endif %}
    <div class="tl-date">{{ post.date | date: "%B %-d, %Y" }}</div>
    {% if post.excerpt %}<p class="tl-desc">{{ post.excerpt | strip_html | strip_newlines | truncate: 120 }}</p>{% endif %}
  </li>
{% endfor %}
</ol>
