---
layout: default
permalink: /writing/
title: News & Talks
---

<section class="page-intro">
  <h1 class="page-title">News &amp; Talks</h1>
  <p class="page-subtitle">Talks, papers, standards, articles, and announcements &mdash; grouped by year.</p>
</section>

{% assign postsByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
<h2 class="archive-year">{{ year.name }}</h2>
<ul class="news-list">
  {% for post in year.items %}
  <li class="news-item">
    <span class="news-date">{{ post.date | date: "%m-%d" }}</span>
    {% if post.category %}<span class="news-tag news-tag--{{ post.category }}">{{ post.category }}</span>{% endif %}
    <a class="news-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
