{% assign profiles = site.profile-links %}
{% if profiles.google_scholar %}<a href="{{ profiles.google_scholar }}" target="_blank" rel="me noopener">Google Scholar</a>{% endif %}
{% if profiles.ieee_xplore %}<a href="{{ profiles.ieee_xplore }}" target="_blank" rel="me noopener">IEEE Xplore</a>{% endif %}
{% if profiles.orcid %}<a href="{{ profiles.orcid }}" target="_blank" rel="me noopener">ORCID</a>{% endif %}
{% if profiles.linkedin %}<a href="{{ profiles.linkedin }}" target="_blank" rel="me noopener">LinkedIn</a>{% endif %}
